*{
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

button{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
}

body{
    background-color: #4a4a55;
}

header{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.title{

}

.menu svg {
    fill: hsl(0, 0%, 100%);
    height: 1.5rem;
    width: 1.5rem;
}

main{
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 2rem;
}

.table {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.table-body{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 75vh;
    max-height: 75vh;
    overflow-y: auto;
    
}

.table-header{
    background-color: #62626e;
    border-radius: 0.3rem;
}

.table-header-buttons ul{
    display: flex;
    gap: 0.5rem;
}

.table-register{
    width: 80%; 
    background-color: #3c3c46;
}
.table-register-buttons {
    background-color: #62626e;
}
.table-register-buttons ul{
    align-items: center;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}

.table-register-data ul{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.table-footer{
    display: flex;
    justify-content: space-between;
    background-color: #62626e;
}


.table-footer-info{

}
.table-svg{
    fill: hsl(0, 0%, 100%);
    height: 1.5rem;
    width: 1.5rem;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-header{
    align-items: center;
    background-color: #62626e;
    border-radius: 0.3rem;
    display: flex;
    justify-content: space-between;
    
}

.form-header-tabs ul{
    background-color: #3c3c46;
    display: flex;
    width: 100%;
    height: 100%t;
}

.form-header-buttons ul{
    align-items: center;
    display: flex;
    gap: 0.5rem;
    margin-right: 0.3rem;
    
}

.form-body{

}

form{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.2rem;
}

.form-element{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-element-label{

}

.form-element-input{
    display: grid;
    
    
}

.form-header-buttons svg{
    fill: hsl(0, 0%, 100%);
    height: 1.5rem;
    width: 1.5rem;
}
