html, body {
	height: 100%;
	width: 100%;
}
body {
  background: url("Scalie.png");
	background-size: cover;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.content-blur {
	position: relative;
	width: fit-content;
	
  filter: blur(10px);
	z-index: 5; 
	background-color: rgb(147, 185, 173);
	display: flex;
	align-items: center;
	flex-direction: column;
}

.content {
  position: relative;
  filter: none;
	z-index: 5;
}


