body{
  background-color: #0178D9;

}
h1,h2,h3,h4,h5,h6, p, span {
  border: 0;
  margin: 0;
  padding: 0;
}

.meme{
  align-items: baseline;
  color: #FFF;
  display: flex;
  padding-top: 7em;
  padding-right: 10em;
  padding-left: 10em;
}
  
.meme-memeicon, .sadicon{ 
  font-size: 150pt;
  font-family:'Segoe UI';
  margin-right: 0.5em;
}
.meme-error, .errortext {
  color: #FFF;
  font-family: 'Segoe UI';
  font-size: 40pt;
}
.textContainer{
  display: flex;
  color: #FFF;
  flex-direction: column;
  font-family: 'Segoe UI';
  gap: 0.35rem;
  padding-top: 3em;
  padding-right: 25em;
  padding-left: 10em;
}

.textContainer-fakeSimtext, .memetext{
  align-items: baseline;
  display: flex;
  font-size: 15pt;
  height: fit-content;
  width: fit-content;
  
}
.textContainer .fakepercentilbox {
  display: flex;
  gap: 1rem;
  justify-content:baseline;
}
.textCointer-fakepercentilbox, .fakepercentil, .fakepercentiltext {
  font-size: 17pt;
  height: fit-content;
  width: fit-content;
}
.textContainer .fakestopcode {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  justify-content:baseline;
}
.textContainer-fakestopcode, .fakecodetext, .fakecode  {
  display: flex;
  font-size: 17pt;
  height: fit-content;
  width: fit-content;
}